body{
    background-image: url("images/spla3haikei.jpg");
    background-size: cover;      /*画面全体に表示*/
    background-repeat: no-repeat;/*繰り返さない*/
    margin: 0;                   /*ブラウザの余白削除*/
    min-height: 100vh;           /*最低１００％*/
    text-align: center;          /*中央揃え*/
    color: white;
}
select,input{
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 10px;
}
#result{
    display: none;              /*初期状態は非表示*/
    background: rgba(0,0,0,0.65);/*半透明の黒背景*/
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    color: white;
}
#syokai{
    background: rgba(0,0,0,0.6);
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
    line-height: 1.8;
}